<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>WSS Medical Solutions</title>
</head>
<body>
    <!--div class="menu_block">
        <div class="container clearfix">
            <div class="pull-right">
                <nav class="navmenu center">
                    <ul>
                        <li><a href="home.html">Home</a></li>
                        <li><a>Ticket1</a></li>
                        <li><a>Ticket2</a></li>
                        <li><a>Ticket3</a></li>
                    </ul>
                </nav>
            </div>   
        </div>
    </div>-->
    <div class="container mt-5">
        <h1 class="text-center mb-5">WSS Medical Solutions</h1>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <a href="{{ url_for('login') }}" class="btn btn-primary btn-block mb-3">Log in</a>
            </div>
            <div class="col-md-4">
                <a href="{{ url_for('register') }}" class="btn btn-success btn-block">Registrarse</a>
            </div>
        </div>
    </div>
</body>
</html>
